<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-theme="dark">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= content_for?(:title) ? yield(:title) : "CryptoMessenger" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body class="bg-dark-bg text-dark-text">
  <%= yield %>
</body>
</html>
